<ion-view name="register-sign-in" class='customTitle' view-title="bnotified" hide-nav-bar="true">
    <ion-content class="padding landingOuter">
        
        <div class="container" style="    height: 92%;">
              <ion-slide-box does-continue="true" auto-play="true" style="height:100%">
                  <ion-slide>
                    <div style="height:100%">
                        <img src="img/Add%20a%20subscription.png" class="img-responsive"/>
                      </div>
                  </ion-slide>
                  <ion-slide>
                    <div style="height:100%">
                        <img src="img/landing%20page.png" class="img-responsive"/>
                      </div>
                  </ion-slide>
                  <ion-slide>
                    <div style="height:100%">
                        <img src="img/Notification-Details.png" class="img-responsive"/>
                      </div>
                  </ion-slide>
            </ion-slide-box>
        </div>
      
      <div class="container logBtnStyle">
        <a style="display:block;" class="button button-block button-positive customBtnStyle" href="#/register">
            REGISTER
        </a><span style='display:block;width:1px; float:left; height:20px;'></span>
        <a class="button button-block button-positive customBtnStyle" href="#/login">
            LOGIN
        </a>
     </div>

    </ion-content>
</ion-view>