<ion-view name="register-sign-in" class='customTitle' view-title="bnotified">
    <ion-content class="padding landingOuter">
      <div class="container">
        <img src=""/>
      </div>
      <div class="container logBtnStyle">
        <a style="margin-left:1px; display:block;" class="button button-block button-positive cutomBtnStyle" href="#/register">
            REGISTER
        </a><span style='display:block;width:10px; float:left; height:20px;'></span>
        <a class="button button-block button-positive cutomBtnStyle" href="#/login">
            LOGIN
        </a>
     </div>

    </ion-content>
</ion-view>