<ion-view class="passcode-example">

  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <a class="button button-icon ion-arrow-left-c" ui-sref="home"></a>
    </div>
    <h1 class="title">Passcode</h1>
    <div class="row">
        <span style="color:red">{{errordescription}}</span>
    </div>
  </ion-header-bar>
    
  <ion-content style="background-color:#fff;">
    <div class="row">
      <div class="col">
       <h4>Please enter your passcode</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-input">
        <div class="circle" ng-show="logindata.passcode.length >= 1"></div>
      </div>
      <div class="col col-input">
        <div class="circle" ng-show="logindata.passcode.length >= 2"></div>
      </div>
      <div class="col col-input">
        <div class="circle" ng-show="logindata.passcode.length >= 3"></div>
      </div>
      <div class="col col-input">
        <div class="circle" ng-show="logindata.passcode.length >= 4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col forgot">
       <a href="#/{{logindata.mobilenumber}}/forgotpassword"><u>Forgot passcode?</u></a>
      </div>
    </div>
  </ion-content>

  <ion-numeric-keyboard class="white-keyboard" options="options"></ion-numeric-keyboard>

</ion-view>