<ion-view name="security-details-view">    
    <ion-nav-title>
        Registration (Step 2 of 2)
    </ion-nav-title>
    <ion-content scroll="false" class="customTitle">
        <form name="securitydets" class="simple-form" required>
        <div ng-messages="securitydets.securityquestions.$error" class="row" ng-if="securitydets.securityquestions.$error">
                <div ng-message="required" class="requiredStyle" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Please select a security question</div>
        </div>
        <div ng-messages="securitydets.securityanswer.$error" class="row" ng-if="securitydets.securityanswer.$error && securitydets.securityquestions.$valid">
                <div ng-message="required" class="requiredStyle"  style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Answer for security question is required</div>
                <div ng-message="minlength" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Answer for security question cannot be less than 4 characters</div>
                <div ng-message="maxlength" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Answer for security question cannot be more than 25 characters</div>
        </div>
        <div ng-messages="securitydets.securitypin.$error" class="row" ng-if="securitydets.securitypin.$error && securitydets.securityquestions.$valid && securitydets.securityanswer.$valid">
                <div ng-message="required" class="requiredStyle" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Security pin is required</div>
                <div ng-message="minlength" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Security pin cannot be less than 4 digits</div>
                <div ng-message="maxlength" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Security pin cannot be more than 4 digits</div>
            <div ng-message="pattern" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>Security pin can only contain numeric values</div>
        </div>
        <div ng-messages="securitydets.otppin.$error" class="row" ng-if="securitydets.otppin.$error && securitydets.securitypin.$valid && securitydets.securityquestions.$valid && securitydets.securityanswer.$valid && enableotp">
                <div ng-message="required" class="requiredStyle" style="color:white;background-color:#FF0000;width:100%;"><sup>*</sup>OTP pin is required</div>
        </div>    
        <div class="list">
            <label class="item item-input item-select loginInput">
                <div class="input-label">
                    Security Question
                </div>
                
                <select name="securityquestions" id="securityquesid" ng-options="option.question for option in securityquesdata.securityquestions track by option.questionid" ng-model="securityquesdata.selectedquestion" required>
                </select>
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    Security Answer
                </span>
                <input name="securityanswer" type="text" placeholder="Security Answer" ng-model="securityquesdata.answer" ng-minlength="4" ng-maxlength="25" ng-blur="onBlurFn($event)" required/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    Security Pin
                </span>
                <input type="number" name="securitypin" placeholder="Enter 4 Digit Security Pin" ng-model="securityquesdata.securitypin" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]{1,7}$/" required/>
            </label>
            <label class="item item-input item-floating-label" ng-show="enableotp">
                <span class="input-label">
                    OTP Pin
                </span>
                <input name="otppin" type="number" placeholder="Enter OTP recieved as SMS" ng-model="securityquesdata.otppin" required/>
            </label>
        </div>
        <div class="row" ng-show="(securitydets.otppin.$pristine || securitydets.otppin.$valid) && securitydets.securitypin.$valid && securitydets.securityquestions.$valid && securitydets.securityanswer.$valid">
            <button on-tap="registerbtn()" class="button button-block button-positive">REGISTER</button>
        </div>
        </form>
    </ion-content>
</ion-view>